jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://{{getv "/mysql/host"}}:{{getv "/mysql/port"}}/rap_db?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&noAccessToProcedureBodies=true
jdbc.username={{getv "/mysql/username"}}
jdbc.password={{getv "/mysql/password"}}
redis.host={{getv "/redis/host"}}
redis.port={{getv "/redis/port"}}
